        <div class="row">
            <div class="col-md-4 portfolio-item">
                <%= link_to image_tag(spot.image.url(:medium), :class =>"img-responsive", :alt =>"http://placehold.it/700x400"), spot_path(spot) %>
	    </div>
	    <div class="col-md-8">
                <h3>
                    <%= link_to spot.address, spot_path(spot) %>
                </h3>
                <% spot.reservations.each do |reservation| %>
		  <div>
		    <h4>From <%= reservation.start %> to <%= reservation.end %></p>
		    <h4>Made by <%= reservation.user.username %>.</h4>
                    <p><strong>$<%= reservation.price %></strong></p>
		  </div>
		<% end %>
            </div>
        </div>        
